/* app.css */

body {background-color: #e1ecff;}

.submit-button {
  background-color: #22b535;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #197425;
}
.logout-button {
  background-color: #ff6666;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #ff3333;
}


.text-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.text-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
  background-color: #fff;
}
.text-input:hover {
  border-color: #888; 
}

.text-input::placeholder {
  color: #888;
}

@media only screen and (max-width: 600px) {
  .text-input {
    width: 100%;
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) {
  .text-input {
    width: 50%;
    font-size: 16px;
  }
}

h1 {
  font-size: 2.5em;
  margin: 20px 0;
  color: #2c3e50;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
    margin: 10px 0;
  }
}

@media (min-width: 601px) {
  h1 {
    font-size: 3em;
  }
}

li {
  font-size: 20px;
}